In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('insurance.csv')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.sample(50)

      age     sex     bmi  children smoker     region      charges
1310   42    male  26.315         1     no  northwest   6940.90985
40     24  female  26.600         0     no  northeast   3046.06200
1329   52    male  38.600         2     no  southwest  10325.20600
207    35    male  27.740         2    yes  northeast  20984.09360
742    53    male  34.105         0    yes  northeast  43254.41795
27     55  female  32.775         2     no  northwest  12268.63225
233    59    male  27.500         1     no  southwest  12333.82800
1156   19    male  44.880         0    yes  southeast  39722.74620
756    39  female  22.800         3     no  northeast   7985.81500
680    21  female  17.400         1     no  southwest   2585.26900
1234   45  female  27.830         2     no  southeast   8515.75870
274    25    male  27.550         0     no  northwest   2523.16950
4      32    male  28.880         0     no  northwest   3866.85520
468    28  female  24.320         1     no  northeast  23288.92840
589    38  female  30.690         1     no  southeast   5976.83110
862    55  female  33.535         2     no  northwest  12269.68865
1129   19  female  18.600         0     no  southwest   1728.89700
777    45    male  39.805         0     no  northeast   7448.40395
1180   42  female  41.325         1     no  northeast   7650.77375
137    22    male  25.175         0     no  northwest   2045.68525
125    26  female  28.785         0     no  northeast   3385.39915
90     21  female  39.490         0     no  southeast   2026.97410
336    60    male  25.740         0     no  southeast  12142.57860
573    62  female  36.860         1     no  northeast  31620.00106
3      33    male  22.705         0     no  northwest  21984.47061
196    39  female  32.800         0     no  southwest   5649.71500
255    55  female  25.365         3     no  northeast  13047.33235
824    60    male  24.320         0     no  northwest  12523.60480
97     55    male  38.280         0     no  southeast  10226.28420
189    29  female  32.110         2     no  northwest   4922.91590
1005   29    male  31.730         2     no  northwest   4433.38770
32     19  female  28.600         5     no  southwest   4687.79700
1273   35    male  27.610         1     no  southeast   4747.05290
216    53  female  26.600         0     no  northwest  10355.64100
608    28    male  26.980         2     no  northeast   4435.09420
1296   18    male  26.125         0     no  northeast   1708.92575
1142   52  female  24.860         0     no  southeast  27117.99378
139    22  female  36.000         0     no  southwest   2166.73200
161    18  female  36.850         0    yes  southeast  36149.48350
858    25  female  32.230         1     no  southeast  18218.16139
458    56    male  39.600         0     no  southwest  10601.41200
1026   19    male  26.030         1    yes  northwest  16450.89470
479    23    male  32.560         0     no  southeast   1824.28540
846    51  female  34.200         1     no  southwest   9872.70100
533    37    male  36.190         0     no  southeast  19214.70553
614    20  female  33.000         0     no  southeast   1880.07000
712    43  female  30.685         2     no  northwest   8310.83915
682    39    male  35.300         2    yes  southwest  40103.89000
510    56    male  32.110         1     no  northeast  11763.00090
996    39  female  34.100         3     no  southwest   7418.52200

In [ ]:
import numpy as np
import pandas as pd
import multiprocessing
import matplotlib.pyplot as plt
import seaborn as sns

def process_data(chunk, results):

    # 1. Menghitung jumlah data dalam setiap chunk
    count = len(chunk)
    results['Data count'] = count

    # 2. Mencari usia tertua dalam setiap chunk
    max_age = chunk['age'].max()
    results['Max Age'] = max_age

    # 3. Mencari nilai premi rata-rata dalam setiap chunk
    avg_premium = chunk['charges'].mean()
    results['Average Premium'] = avg_premium

    # 4. Rata-rata umur
    average_age = chunk['age'].mean()
    results['Average Age'] = average_age

if __name__ == '__main__':
    df = pd.read_csv('insurance.csv')

    num_chunks = 4
    chunks = np.array_split(df, num_chunks)

    manager = multiprocessing.Manager()
    results = manager.dict()

    processes = []
    for chunk in chunks:
        process = multiprocessing.Process(target=process_data, args=(chunk, results))
        processes.append(process)

    for process in processes:
        process.start()

    for process in processes:
        process.join()

    print("Data count:", results['Data count'])
    print("Max Age:", results['Max Age'])
    print("Average Premium:", results['Average Premium'])
    print("Average Age:", results['Average Age'])

# Visualisasi distribusi umur
plt.figure(figsize=(8, 6))
sns.histplot(df['age'], kde=True)
plt.title('Distribusi Umur')
plt.xlabel('Umur')
plt.ylabel('Count')
plt.show()

# Visualisasi hubungan antara umur dan biaya premi
plt.figure(figsize=(8, 6))
sns.scatterplot(x='age', y='charges', data=df)
plt.title('hubungan antara umur dan biaya premi')
plt.xlabel('Umur')
plt.ylabel('Biaya Premi')
plt.show()

# Visualisasi barplot untuk biaya premi berdasarkan status merokok
plt.figure(figsize=(8, 6))
sns.barplot(x='smoker', y='charges', data=df)
plt.title('Biaya Premi Berdasarkan Status Merokok')
plt.xlabel('Perokok')
plt.ylabel('Biaya Premi')
plt.show()

# Visualisasi hubungan antara indeks massa tubuh (bmi) dan biaya premi
plt.figure(figsize=(8, 6))
sns.scatterplot(x='bmi', y='charges', data=df)
plt.title('Hubungan Antara Indeks Massa Tubuh (bmi) dan Biaya Premi')
plt.xlabel('Indeks Massa Tubuh')
plt.ylabel('Biaya Premi')
plt.show()